.header{
    margin: 0px 20px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}




.as {
    fill: white;
    transition: all .3s ease-in;
    transform: scale(0.95);
}

.as:hover {
    fill: var(--myblue);
    transform: scale(1);
}