@font-face {
  font-family: "Authentic";
  src: url("./Font/Authentic/Authentic\ Signature.otf");
}

@font-face {
  font-family: "Kawur";
  src: url("./Font/Kawur//Kawur-Aesthetic-BF6860103f547fd.ttf");
}

@font-face {
  font-family: "Grotta";
  src: url("./Font/Grotta/Grotta-Trial-Bold.ttf");
}

@font-face {
  font-family: "Aoi";
  src: url("./Font/Aoi/AOMono-Regular.otf");
}

@font-face {
  font-family: "jetbrain-mono";
  src: url("./Font/Jet/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "Phonk";
  src: url("./Font/Phonk/Phonk\ Regular\ DEMO.otf");
}

@font-face {
  font-family: "Deimos";
  src: url("./Font/Deimos/Deimos.otf");
}

@font-face {
  font-family: "Made";
  src: url("./Font/MadeThin/MADE\ Outer\ Sans\ Thin\ PERSONAL\ USE.otf");
}

:root {
  /* --myblue: #2475ef; */
  --myblue:#00aaff;  /* Primary color for higligthed text */
  --myblue-rgb: 36, 117, 239;
  --box-background: rgba(0, 0, 0, 0.20); /* Background color for boxes , buttons , cards  */
  --box-border-radius: 12px; /* Border radius for boxes, buttons, cards */
  --button-border-radius: 4px; /* Border radius for boxes, buttons, cards */
  --box-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Box shadow for boxes, buttons, cards */
  --box-border: 1px solid rgba(255, 255, 255, 0.125); /* Border for boxes, buttons, cards */
  --box-border-dashed: 1px dashed rgba(255, 255, 255, 0.125); /* Dashed border for boxes, buttons, cards */
   --box-border-dotted: 1px dotted rgba(255, 255, 255, 0.125); /* Dotted border for boxes, buttons, cards */
  --hero-text-des : 7rem;
   --hero-text-mob : 4rem;
  --letter-spacing:-3px;
  --text-color-primary:white; /* Primary text color */
}
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    scrollbar-color: var(--myblue) var(--box-background) ; /* Thumb color and track color */
    scrollbar-width:thin;
}

html{
  font-size: 12px;
}

body{
  color: var(--text-color-primary);
  line-height: 1.5;
  margin: 0;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  background: #1d1d1d;
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(
  circle at center,
  rgba(0, 119, 255, 0.3) 0%,
  rgba(29, 29, 29, 0.1) 100%,
  transparent 100%
); */

 /* background-color: #0e0e11;
  background-image:
  linear-gradient(to bottom, rgba(255,255,255,0.015), transparent),
    radial-gradient(circle at 20% 30%, rgba(36, 117, 239, 0.2) 0%, transparent 50%),
    radial-gradient(circle at 80% 70%, rgba(36, 117, 239, 0.12) 0%, transparent 60%),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.015) 0%, transparent 70%),
    linear-gradient(120deg, rgba(36, 117, 239, 0.03), transparent);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */

}



.circle {
  position: fixed;
  width: 1000px; 
  height: 1000px;
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  filter: blur(200px); 
}

.circle.left {
  left: -450px;
  bottom: -350px;
  background: radial-gradient(
    circle at center,
    rgba(0, 132, 255, 0.315) 0%,
    rgba(0, 132, 255, 0.233) 35%,
    rgba(0, 132, 255, 0.05) 70%,
    transparent 100%
  );
}

.circle.right {
  right: -450px;
  top: -350px;
  background: radial-gradient(
    circle at center,
    rgba(0, 132, 255, 0.315) 0%,
    rgba(0, 132, 255, 0.233) 35%,
    rgba(0, 132, 255, 0.05) 70%,
    transparent 100%
  );
}

/* Mobile view */
@media (max-width: 768px) {
  .circle {
    width: 500px;
    height: 500px;
    filter: blur(120px);
  }

  .circle.left {
    left: -150px;
    bottom: -150px;
    background: radial-gradient(
      circle at center,
      rgba(0, 132, 255, 0.445) 0%,
      rgba(0, 132, 255, 0.18) 40%,
      rgba(0, 132, 255, 0.05) 75%,
      transparent 100%
    );
  }

  .circle.right {
    right: -150px;
    top: -150px;
    background: radial-gradient(
      circle at center,
      rgba(0, 132, 255, 0.445) 0%,
      rgba(0, 132, 255, 0.18) 40%,
      rgba(0, 132, 255, 0.05) 75%,
      transparent 100%
    );
  }

  .SectionTitleMain {
    font-size: 3.5rem;
    span{
      font-size: 3.5rem;
    }
  }
}









.SectionTitleMain {
  font-size: 4.1rem;
  font-weight: 400;
  margin: 40px 0px;
  letter-spacing: -2px;
  span{
    color: var(--myblue);
    font-size: 4.1rem;
    font-weight: 400;
    margin: 40px 0;
    letter-spacing: -2px;
  }
}


